body {
    background-color: #bbbb;
}

header {
    background-color: #FFFF;
    padding: 20px 0;
}

#linha-horizontal{
    border: 1px solid rgb(147, 136, 136);
}

.caixa {
    position: relative;
    margin: 10px;
    font-size: 30px;
}

nav {
    position:absolute;
    top: 30px;
    right: 40px;
    font-size: 15px;
    font-family: Arial;
    font-weight: bold;
}

nav li{
    display: inline;
    margin: 0 0 0 15px;
}

nav a{
    text-transform: uppercase;
    text-decoration: none;
    color: midnightblue;

}

main {
    width: 940px;
    margin: 0 auto;
}

form {
    margin: 40px 0;

}

form label {
    display: block;
    font-size: 20px;
    margin: 0 0 10px;

}

.input-padrao {
    display: block;
    margin: 0 0 20px;
    padding: 10px 25px;
    width: 25%;
}

.checkbox {
    margin: 20px 0;
}

