body {
    background-color: #F0F8FF;
    font-family: sans-serif;
    font-size: 1em;
    color: #0088A3;
    margin-left: 0%;
    margin-top: 0%;
    justify-content: center;
    
}

.plano{
    height: 
    width: 50%;
    object-fit: contain;
}

fieldset {
    border:1;
    border-radius:  1em;
    border-width: medium;
    border-color:#E0E0F8;
    
}


.botao {
    font-size: 1.2em;
    background: #0088A3;
    border:0;
    margin-bottom: 1em;
    color: #Ffff;
    padding: 0.2em 0.6em;
    box-shadow: 2px 2px 2px #0088A3;
    text-shadow: 1px 1px 1px #4168E1;
    top:20%;
    left: 75%;
}