body {
    background-color: #bbbb;
    font-family: arial narrow;
}

header {
    background-color: #FFFF;
    padding: 20px 0;
}

#linha-horizontal{
    border: 1px solid rgb(147, 136, 136);
}

.caixa {
    position: relative;
    margin: 10px;
    font-size: 30px;
}

nav {
    position:absolute;
    top: 30px;
    right: 40px;
    font-size: 15px;
    font-family: Arial;
    font-weight: bold;
}

nav li{
    display: inline;
    margin: 0 0 0 15px;
}

nav a{
    text-transform: uppercase;
    text-decoration: none;
    color: midnightblue;

}

img{
    padding: 0;
    width: 250px;
    height: 7cm;
}

.quartos{
    width: 950px;
    margin: 0 auto;
    padding: 25px;

}

.quartos li {
    display: inline-block;
    text-align:inherit;
    width: 30%;
    vertical-align: top;
    margin: 0 1.5%;
    padding: 30px 20px;
    box-sizing: border-box;
    border-color: #000;
    border-width: 2px;
    border-style: solid; 
    border-radius: 20px
}

h3 {
    color:rgb(12, 78, 18);
    text-align:center;
    font-weight: bold
}

input {

    padding:  10px 25%;
    margin: 20px;


}

#voltar {

    padding: 15px 20px;


}