*{
    background-color:
}

body {
    background-color: #364559;
    font-family: arial narrow;
}

header {
    background-color: #FFFF;
    padding: 20px 0;
}

#linha-horizontal{
    border: 1px solid rgb(147, 136, 136);
}

.caixa {
    position: relative;
    margin: 10px;
    font-size: 30px;
}

nav {
    position:absolute;
    top: 30px;
    right: 40px;
    font-size: 15px;
    font-family: Arial;
    font-weight: bold;
}

nav li{
    display: inline;
    margin: 0 0 0 15px;
}

nav a{
    text-transform: uppercase;
    text-decoration: none;
    color: midnightblue;

}

img{
    padding: 0;
    width: 250px;
    height: 7cm;
}

.quartos{
    width: 950px;
    margin: 0 auto;
    padding: 25px;
}

h2{ 
    color: #A7BDD9;
}

p{
    color: #7289A6;
    font-weight: bold;
}

.quartos li {
    display: inline-block;
    text-align:inherit;
    width: 30%;
    vertical-align: top;
    margin: 0 1.5%;
    padding: 30px 20px;
    box-sizing: border-box;
    border-color: #A7BDD9;
    border-width: 1px;
    border-style: solid; 
    border-radius: 11px
}

h3 {
    color:rgb(9, 236, 27);
    text-align:center;
    font-weight: bold
}

input {

    padding:  10px 25%;
    margin: 20px;
}

.breserva{
    background: #364559;
    color: #7289A6;
    font-weight: bold;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    transition: 1s all;
    cursor: pointer;
    border-color: #A7BDD9;
    border-width: 1px;
    border-style: solid; 
    border-radius: 5px
}

.breserva:hover{
    background: #A7BDD9;
    transform: scale(1.1);
}


#voltar {

    padding: 15px 20px;


}